.footer {
  padding: rem(20) 0;
  @include adaptiveClamp(padding-top, 64, 32);
  @include adaptiveClamp(padding-bottom, 64, 32);
  background: #363F72;

  // .footer__container
  p, a {
    color: $whiteColor;
  }
  &__container {
    // display: flex;
    // align-items: center;
  }

  &__top {
    padding-bottom: rem(24);
    border-bottom: 1px solid $whiteColor;
    display: flex;
    align-items: center;
    gap:rem(16) rem(100);
    @media(max-width:750px){
      gap:rem(16) rem(32);
    }
    @media(max-width:600px){
        flex-direction: column;
        align-items: start;
    }
  }

  &__logo {
    font-size: rem(24);
    font-weight: 600;
    line-height: 100%;
    max-width: rem(69);
    color: $whiteColor;
    margin-right: auto;
  }

  &__text {
  }

  &__button {
    background-color: #2E90FA;
    display: flex;
    gap: rem(8);
    align-items: center;
    img {
      width: rem(20);
    }
    &:hover {
      background-color: #037cfe;
    }
  }

  &__bottom {
    padding-top: rem(24);
    display: flex;
    flex-direction: column;
    gap: rem(16);
    @media(max-width:1000px){
      padding-top: rem(24);
    }

    p {
      font-size: rem(12);
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
     }
  }

  &__menu {
  }
}
.menu-footer {

  &__list {
    display: flex;
    gap: rem(16);
    @media(max-width:750px){
        flex-direction: column;
        gap: rem(6);
    }
  }

  &__item {
  }

  &__link {
    font-size: rem(14);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    transition: all 0.3s ease  0s;
    @media(max-width:1000px){
      font-size: rem(12);
    }
    &:hover {
      color: #037cfe;
    }
  }
}
